.LoadingDots_root__L3YhM {
    display: inline-flex;
    align-items: center;
    text-align: center;
    line-height: 1.75rem
}

.LoadingDots_root__L3YhM span {
    height: .5rem;
    width: .5rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42/var(--tw-bg-opacity));
    animation-name: LoadingDots_blink__8sST9;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    margin: 0 2px
}

.LoadingDots_root__L3YhM span:nth-of-type(2) {
    animation-delay: .2s
}

.LoadingDots_root__L3YhM span:nth-of-type(3) {
    animation-delay: .4s
}

@keyframes LoadingDots_blink__8sST9 {
    0% {
        opacity: .2
    }

    20% {
        opacity: 1
    }

    to {
        opacity: .2
    }
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

#navbar-collapse {
    display: none;
}

@media (min-width: 640px) {
    #navbar-collapse {
        display: flex;
        align-items: center;
        gap: 2rem;
        /* equivalent to Tailwind's space-x-8 */
        transition: all 0.3s ease;
        font-size: 1rem;
        font-weight: 500;
    }

    #navbar-collapse a {
        position: relative;
        display: inline-block;
        color: white;
        text-decoration: none;
        padding-bottom: 4px;
        transition: color 0.3s ease;
    }

    #navbar-collapse a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0%;
        background-color: #3b82f6;
        /* Tailwind's blue-500 */
        transition: width 0.3s ease;
    }

    #navbar-collapse a:hover {
        color: #3b82f6;
    }

    #navbar-collapse a:hover::after {
        width: 100%;
    }
}